.btn{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s all;
}

.btn:hover{
    background-color: white;
    color: #242424 !important;
}

.cl{
    grid-column: 1/5;
}